<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Fashion</title>

    <th:block th:include="/meta-data.html"></th:block>
    <!-- Trang hiển trị khi đăng nhập lỗi -->
</head>
<body>
    <th:block th:include="/navigation.html"></th:block>
    {% if template == 1 %}
    <div class="bg-dark" style="height: 700px; padding-top: 100px">
        <h1 class="font-text text-light text-center">Bạn đã nhập sai tên tài khoản hoặc mật khẩu</h1>
        <h1 class="font-text text-light text-center">Hãy kiểm tra lại</h1>
        <div class="d-flex justify-content-center mt-5">
            <a th:href="@{/login-user}" class="btn btn-secondary btn-lg font-text" role="button">Trở về</a>
        </div>
    </div>  
    {% elif template == 0 %}
    <div class="bg-dark" style="height: 700px; padding-top: 100px">
        <h1 class="font-text text-light text-center">Bạn đã nhập sai tên tài khoản hoặc mật khẩu</h1>
        <h1 class="font-text text-light text-center">Hãy kiểm tra lại</h1>
        <div class="d-flex justify-content-center mt-5">
            <a th:href="@{/login-shipper}" class="btn btn-secondary btn-lg font-text" role="button">Trở về</a>
        </div>
    </div>  
    {% endif %}
    <div class="bg-dark text-center text-light font-text" style="height: 50px">Được thực hện bởi RichKids</div>
</body>
</html>