<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Fashion</title>

    <th:block th:include="/meta-data.html"></th:block>
    <!-- Giao diện chính của User -->
</head>
<body>
    <th:block th:include="/navigation.html"></th:block>
    <div class="d-flex justify-content-around bg-dark h-400px pt-150px">
        <div class="w-20p container">
            <img src="../static/images/icon-user/history.png" class="image">
            <div class="middle">
                <a class="text btn btn-lg active" th:href="@{/order-history}">Lịch sử mua hàng</a>
            </div>
        </div>
        <div class="w-20p container">
            <img src="../static/images/icon-user/add-money.png" class="image">
            <div class="middle">
                <a class="text btn btn-lg active" th:href="@{/add-money}">Nạp tiền</a>
            </div>
        </div>
        <div class="w-20p container">
            <img src="../static/images/icon-user/cart.png" class="image">
            <div class="middle">
                <a class="text btn btn-lg active" th:href="@{/cart}">Giỏ hàng</a>
            </div>
        </div>
        <div class="w-20p container">
            <img src="../static/images/icon-user/order-status.png" class="image">
            <div class="middle">
                <a class="text btn btn-lg active" th:href="@{/order-status}">Đơn hiện tại</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around bg-dark" style="height: 450px">
        <a th:href="@{/order-history}" class="btn btn-lg active w-20p" role="button" aria-pressed="true" style="height: 50px"><p class="text-light font-weight-bold font-text">Lịch sử mua hàng</p></a>
        <a th:href="@{/add-money}" class="btn btn-lg active w-20p" role="button" aria-pressed="true" style="height: 50px"><p class="text-light font-weight-bold font-text">Nạp tiền</p></a>
        <a th:href="@{/cart}" class="btn btn-lg active w-20p" role="button" aria-pressed="true" style="height: 50px"><p class="text-light font-weight-bold font-text">Giỏ hàng</p></a>
        <a th:href="@{/order-status}" class="btn btn-lg active w-20p" role="button" aria-pressed="true" style="height: 50px"><p class="text-light font-weight-bold font-text">Đơn hiện tại</p></a>
    </div>
    <div class="bg-dark text-center text-light font-text" style="height: 50px; padding-top: 15px;">Được thực hện bởi RichKids</div>
</body>
</html>